openapi: 3.1.0
info:
  title: Spiko Distributor Account transactions Deposit orders API
  version: v0
  description: The Distributor API allows third parties like SaaS providers, fintechs or Web3 companies to distribute the Spiko Funds to their customers. With this API, you can programmatically manage investors, send subscription and redemption orders, and access real-time portfolio information.
servers:
- url: https://distributor-api.spiko.io
  description: Production Server
- url: https://distributor-api.preprod.spiko.io
  description: Pre-production Server
security: []
tags:
- name: Deposit orders
paths:
  /v0/deposit-orders/:
    post:
      tags:
      - Deposit orders
      operationId: depositOrders.createDepositOrder
      parameters: []
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - amount
                - wireInstructions
                - status
                - createdAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  amount:
                    $ref: '#/components/schemas/NonNegativeAmount'
                  wireInstructions:
                    type: object
                    required:
                    - reference
                    - iban
                    - intermediaryBic
                    - bic
                    - currency
                    properties:
                      reference:
                        type: string
                        description: a wire reference
                        title: WireReference
                        pattern: ^[0-9A-Z]{5,15}$
                      iban:
                        title: IBAN
                        type: string
                        description: a valid IBAN (International Bank Account Number)
                      intermediaryBic:
                        anyOf:
                        - title: BIC
                          type: string
                          description: A valid BIC (Bank Identifier Code)
                        - type: 'null'
                      bic:
                        title: BIC
                        type: string
                        description: A valid BIC (Bank Identifier Code)
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                    additionalProperties: false
                  status:
                    type: string
                    enum:
                    - created
                  createdAt:
                    $ref: '#/components/schemas/Date'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/ApplicationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ForbiddenError'
                - $ref: '#/components/schemas/Forbidden'
        '404':
          description: NotFound
        '409':
          description: Investor token has already been used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateInvestorTokenError'
        '422':
          description: Investor is not ready for order creation yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorNotReadyError'
      description: '

        **Create a new deposit order for an investor with the specified parameters.**


        - Return order details, including wire instructions to fund the deposit.


        > **Distribute-with-Spiko''s-license distributors** cannot place this order from their backend. The investor must place it directly from the browser with a short-lived [Investor JWT](/developers/distributor_api/technical_guides/investor_jwt), targeting the investor-scoped path **`POST /v0/investor/deposit-orders/`** (identical payload and response, but authenticated with the investor JWT as bearer token instead of your API credentials).

        '
      summary: Create deposit order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - investorId
              - amount
              - shareClassId
              properties:
                investorId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                amount:
                  $ref: '#/components/schemas/NonNegativeAmount'
                shareClassId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                accountId:
                  anyOf:
                  - type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  - type: 'null'
                sendDepositInstructions:
                  anyOf:
                  - type: object
                    required:
                    - value
                    properties:
                      value:
                        type: boolean
                        enum:
                        - false
                    additionalProperties: false
                  - type: object
                    required:
                    - value
                    - locale
                    properties:
                      value:
                        type: boolean
                        enum:
                        - true
                      locale:
                        $ref: '#/components/schemas/LocaleLanguage'
                    additionalProperties: false
              additionalProperties: false
        required: true
    get:
      tags:
      - Deposit orders
      operationId: depositOrders.getDepositOrders
      parameters:
      - name: investorId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      - name: shareClassId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: false
        description: a Universally Unique Identifier
      - name: page
        in: query
        schema:
          type: string
          title: Page number
          description: 'defaults to "1" if not provided '
        required: false
        description: 'defaults to "1" if not provided '
      - name: limit
        in: query
        schema:
          type: string
          title: Number of items per page
          description: defaults to "50" if not provided
        required: false
        description: defaults to "50" if not provided
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - created
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - pending-collection
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - fundedAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - funded
                      fundedAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - fundedAt
                    - executedAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - executed
                      fundedAt:
                        $ref: '#/components/schemas/Date'
                      executedAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - canceledAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - canceled
                      canceledAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
        '500':
          description: InternalServerError
      description: "\n**Retrieve a paginated list of the deposit orders made by an investor.**\n\n> ⚠️ **For displaying an account's activity, prefer the [account transaction history endpoint](#tag/Account-transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don't need to call multiple per-order-type endpoints and reconcile their results.\n\n- Orders are sorted by creation date (newest first).\n- When `shareClassId` is specified, only deposit orders for that share class are returned.\n- Pagination parameters (`page` & `limit`) are optional and default to `page = 1` and `limit = 50`.\n          "
      summary: Get deposit orders
  /v0/deposit-orders/{id}:
    get:
      tags:
      - Deposit orders
      operationId: depositOrders.getDepositOrder
      parameters:
      - name: id
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - created
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - pending-collection
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - fundedAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - funded
                    fundedAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - fundedAt
                  - executedAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - executed
                    fundedAt:
                      $ref: '#/components/schemas/Date'
                    executedAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - canceledAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - canceled
                    canceledAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
      description: '

        **Retrieve information about a specific deposit order.**


        - Includes order status (`created` / `pending-collection` / `funded` / `executed` / `canceled`).

        '
      summary: Get deposit order
  /v0/deposit-orders/all/:
    get:
      tags:
      - Deposit orders
      operationId: depositOrders.getAllDistributorDepositOrders
      parameters:
      - name: page
        in: query
        schema:
          type: string
          title: Page number
          description: 'defaults to "1" if not provided '
        required: false
        description: 'defaults to "1" if not provided '
      - name: limit
        in: query
        schema:
          type: string
          title: Number of items per page
          description: defaults to "50" if not provided
        required: false
        description: defaults to "50" if not provided
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - created
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - pending-collection
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - fundedAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - funded
                      fundedAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - fundedAt
                    - executedAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - executed
                      fundedAt:
                        $ref: '#/components/schemas/Date'
                      executedAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - investorId
                    - accountId
                    - shareClassId
                    - amount
                    - createdAt
                    - settlement
                    - status
                    - canceledAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      investorId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      accountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      createdAt:
                        $ref: '#/components/schemas/Date'
                      settlement:
                        anyOf:
                        - type: object
                          required:
                          - amount
                          - shares
                          - appliedNAV
                          properties:
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                            shares:
                              $ref: '#/components/schemas/BigDecimal'
                            appliedNAV:
                              type: object
                              required:
                              - day
                              - amount
                              properties:
                                day:
                                  type: string
                                  title: Day
                                  description: a day in ISO format "YYYY-MM-DD"
                                amount:
                                  $ref: '#/components/schemas/NonNegativeAmount'
                              additionalProperties: false
                          additionalProperties: false
                        - type: 'null'
                      status:
                        type: string
                        enum:
                        - canceled
                      canceledAt:
                        $ref: '#/components/schemas/Date'
                    additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '500':
          description: InternalServerError
      description: "\n**Retrieve a paginated list of all deposit orders made by a distributor.**\n\n> ⚠️ **For displaying an account's activity, prefer the [account transaction history endpoint](#tag/Account-transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don't need to call multiple per-order-type endpoints and reconcile their results.\n\n- Orders are sorted by creation date (newest first).\n- Pagination parameters (`page` & `limit`) are optional and default to `page = 1` and `limit = 50`.\n          "
      summary: Get all distributor deposit orders
  /v0/deposit-orders/{id}/cancel:
    put:
      tags:
      - Deposit orders
      operationId: depositOrders.cancelDepositOrder
      parameters:
      - name: id
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - created
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - pending-collection
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - fundedAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - funded
                    fundedAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - fundedAt
                  - executedAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - executed
                    fundedAt:
                      $ref: '#/components/schemas/Date'
                    executedAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - createdAt
                  - settlement
                  - status
                  - canceledAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                    status:
                      type: string
                      enum:
                      - canceled
                    canceledAt:
                      $ref: '#/components/schemas/Date'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/BadRequestError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
        '500':
          description: InternalServerError
      description: '**Cancel a deposit order.** Order must be in created or pending-collection status.'
      summary: Cancel deposit order
  /deposit-orders/:
    post:
      tags:
      - Deposit orders
      operationId: depositOrders.createDepositOrder
      parameters: []
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - wireInstructions
                - status
                - createdAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  wireInstructions:
                    type: object
                    required:
                    - reference
                    - iban
                    - intermediaryBic
                    - bic
                    - currency
                    properties:
                      reference:
                        type: string
                        description: a wire reference
                        title: WireReference
                        pattern: ^[0-9A-Z]{5,15}$
                      iban:
                        title: IBAN
                        type: string
                        description: a valid IBAN (International Bank Account Number)
                      intermediaryBic:
                        anyOf:
                        - title: BIC
                          type: string
                          description: A valid BIC (Bank Identifier Code)
                        - type: 'null'
                      bic:
                        title: BIC
                        type: string
                        description: A valid BIC (Bank Identifier Code)
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                    additionalProperties: false
                  status:
                    type: string
                    enum:
                    - created
                  createdAt:
                    $ref: '#/components/schemas/Date'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/DepositNotAllowedError'
                - $ref: '#/components/schemas/ApplicationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
      description: '

        Create a deposit order and return wire instructions for funding via bank transfer.


        **When to use this endpoint**


        This endpoint is **required** only for share classes **without** a per-investor virtual IBAN (vIBAN), such as **USTBL (USD)**. The response includes `wireInstructions.reference`, which must be included in the wire transfer so incoming funds can be matched.


        For share classes that support **cash collection** (direct wire to a virtual IBAN), **do not call this endpoint**. Wire funds directly to your virtual IBAN instead — incoming transfers are reconciled automatically. Attempting to create a deposit order for such a share class returns **HTTP 400** (`DepositNotAllowedError`).

        '
      summary: Create a new deposit order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - accountId
              - shareClassId
              - amount
              properties:
                accountId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                shareClassId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                amount:
                  $ref: '#/components/schemas/NonNegativeAmount'
              additionalProperties: false
        required: true
    get:
      tags:
      - Deposit orders
      operationId: depositOrders.getDepositOrders
      parameters:
      - name: investorId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - executed
          - canceled
        required: false
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - amount
                  - status
                  - wireReference
                  - createdAt
                  - fundedAt
                  - executedAt
                  - canceledAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    amount:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    status:
                      type: string
                      enum:
                      - pending
                      - executed
                      - canceled
                    wireReference:
                      type: string
                      description: a wire reference
                      title: WireReference
                      pattern: ^[0-9A-Z]{5,15}$
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    fundedAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    executedAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    canceledAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
      description: '

        Get all deposit orders for a given investor with optional status filter.


        > ⚠️ **For displaying an account''s activity, prefer the [account transaction history endpoint](#tag/Account-Transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don''t need to call multiple per-order-type endpoints and reconcile their results.

        '
      summary: Get list of an investor's deposit orders
  /deposit-orders/{depositOrderId}/cancel:
    post:
      tags:
      - Deposit orders
      operationId: depositOrders.cancelDepositOrder
      parameters:
      - name: depositOrderId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - amount
                - status
                - wireReference
                - createdAt
                - fundedAt
                - executedAt
                - canceledAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  amount:
                    $ref: '#/components/schemas/NonNegativeAmount'
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  wireReference:
                    type: string
                    description: a wire reference
                    title: WireReference
                    pattern: ^[0-9A-Z]{5,15}$
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  fundedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/ApplicationError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '409':
          description: Collection is no longer cancelable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionNotCancelableError'
      description: Cancel a pending deposit order. Only orders in pending status can be canceled. If funds have already been received, cancelling the deposit order will fail.
      summary: Cancel a deposit order
  /deposit-orders/{depositOrderId}:
    get:
      tags:
      - Deposit orders
      operationId: depositOrders.getDepositOrder
      parameters:
      - name: depositOrderId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - amount
                - status
                - wireReference
                - createdAt
                - fundedAt
                - executedAt
                - canceledAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  amount:
                    $ref: '#/components/schemas/NonNegativeAmount'
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  wireReference:
                    type: string
                    description: a wire reference
                    title: WireReference
                    pattern: ^[0-9A-Z]{5,15}$
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  fundedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
      description: Get info of a specific deposit order by its ID
      summary: Get deposit order
  /deposit-orders/direct-debit/:
    post:
      tags:
      - Deposit orders
      operationId: depositOrders.createDepositOrderByDirectDebit
      parameters: []
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - investorId
                - amount
                - shareClassId
                - accountId
                - bankAccountId
                - status
                - createdAt
                - scheduledDate
                properties:
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  amount:
                    $ref: '#/components/schemas/NonNegativeAmount'
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  bankAccountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  status:
                    type: string
                    enum:
                    - pending
                    - scheduled
                    - confirmed
                    - returned
                    - canceled
                    - failed
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  scheduledDate:
                    $ref: '#/components/schemas/Date'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
      description: Create a new SEPA Direct Debit collection for an account. Only allowed for EUTBL and eurSAFO share classes, for professional investors for whom the feature has been enabled and who have signed a mandate on app.spiko.io.
      summary: Create a new deposit order via SEPA Direct Debit
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - amount
              - shareClassId
              - accountId
              - bankAccountId
              properties:
                amount:
                  $ref: '#/components/schemas/NonNegativeAmount'
                shareClassId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                accountId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                bankAccountId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
              additionalProperties: false
        required: true
components:
  schemas:
    BadRequestError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - BadRequestError
      additionalProperties: false
      description: Bad Request
    LocaleLanguage:
      type: string
      enum:
      - en
      - es
      - fr
      - it
      - de
      description: The language of the user
      title: LocaleLanguage
    ForbiddenError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        customErrorCode:
          type: string
          enum:
          - AccountDoesNotBelongToInvestor
          - SessionIsNot2FA
          - InvestorDocumentLinkedToActiveBankAccount
          - AtLeastTwoAdminUsersRequired
          - InvestorNotPendingOnboarding
          - ShareClassNotAvailableForDistributor
        _tag:
          type: string
          enum:
          - ForbiddenError
      additionalProperties: false
      description: Forbidden
    InvestorAuthenticationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - InvestorAuthenticationError
      additionalProperties: false
      description: Authentication Error
    DuplicateInvestorTokenError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - DuplicateInvestorTokenError
      additionalProperties: false
      description: Investor token has already been used
    CollectionNotCancelableError:
      type: object
      required:
      - message
      - _tag
      properties:
        message:
          type: string
        _tag:
          type: string
          enum:
          - CollectionNotCancelableError
      additionalProperties: false
      description: Collection is no longer cancelable
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    ApplicationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        customErrorCode:
          type: string
          enum:
          - MissingNAV
          - NonBusinessDay
          - OrderInTheFuture
          - InitialDepositTooLow
          - InitialSubscriptionTooLow
          - SubsequentDepositTooLow
          - SubsequentSubscriptionTooLow
          - NewWalletSignatureNotProvided
          - NewWalletSignatureNotValid
          - CurrencyNotSupported
          - StablecoinNotSupported
          - AutopilotSynchronizedToBroken
          - IncomingBankTransferNotFound
          - IncomingBankTransferNotReceived
          - IncomingBankTransferAlreadyHandled
          - IncomingBankTransferAmountMismatch
        _tag:
          type: string
          enum:
          - ApplicationError
      additionalProperties: false
      description: Application Error
    BigDecimal:
      type: string
      description: a string to be decoded into a BigDecimal
    Forbidden:
      $id: /schemas/void
      title: Forbidden
    DistributorAuthenticationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - DistributorAuthenticationError
      additionalProperties: false
      description: Authentication Error
    NonNegativeAmount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          title: non-negative decimal number as a string
          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - CHF
          - JPY
          - SGD
          title: Currency code
          identifier: CurrencyCode
          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
      additionalProperties: false
      title: Non-Negative Amount
    Unauthorized:
      $id: /schemas/void
      title: Unauthorized
    Date:
      type: string
      description: a string to be decoded into a Date
    DepositNotAllowedError:
      type: object
      required:
      - shareClassId
      - shareClassSymbol
      - _tag
      properties:
        shareClassId:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        shareClassSymbol:
          type: string
        _tag:
          type: string
          enum:
          - DepositNotAllowedError
      additionalProperties: false
      description: Deposit orders cannot be created by API for this share class. Perform a wire transfer directly instead.
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
    InvestorNotReadyError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - InvestorNotReadyError
      additionalProperties: false
      description: Investor is not ready for order creation yet
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your API client_id as username and client_secret as password.
