openapi: 3.2.0
info:
  title: Spiko Public Funds API
  version: v0
  description: The Public API provides access to public financial data about the Spiko Funds. You can retrieve detailed information about our Funds, their portfolio, their yield or their share classes.
servers:
- url: https://public-api.spiko.io/v0
  description: Production Server
security: []
tags:
- name: Funds
paths:
  /funds/{fundId}:
    get:
      tags:
      - Funds
      operationId: GetFund
      parameters:
      - name: fundId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - timezone
                - executionMethod
                - nonOperatingDays
                - launchDay
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  slug:
                    $ref: '#/components/schemas/FundSlug'
                  timezone:
                    type: string
                    enum:
                    - Europe/Paris
                    - Europe/Dublin
                    - Europe/London
                    - Europe/Luxembourg
                  executionMethod:
                    type: string
                    enum:
                    - knownNAVs
                    - unknownNAVs
                  nonOperatingDays:
                    type: array
                    items:
                      type: string
                      title: Day
                      description: a day in ISO format "YYYY-MM-DD"
                  launchDay:
                    type: string
                    title: Day
                    description: a day in ISO format "YYYY-MM-DD"
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
      summary: Get fund
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: Get Fund
  /funds/:
    get:
      tags:
      - Funds
      operationId: GetAllFunds
      parameters: []
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - slug
                  - timezone
                  - executionMethod
                  - nonOperatingDays
                  - launchDay
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    slug:
                      $ref: '#/components/schemas/FundSlug'
                    timezone:
                      type: string
                      enum:
                      - Europe/Paris
                      - Europe/Dublin
                      - Europe/London
                      - Europe/Luxembourg
                    executionMethod:
                      type: string
                      enum:
                      - knownNAVs
                      - unknownNAVs
                    nonOperatingDays:
                      type: array
                      items:
                        type: string
                        title: Day
                        description: a day in ISO format "YYYY-MM-DD"
                    launchDay:
                      type: string
                      title: Day
                      description: a day in ISO format "YYYY-MM-DD"
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
      summary: Get all funds
      x-summary-source: derived
      x-operation-id-source: normalized
      x-operation-id-original: Get all Funds
components:
  schemas:
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    FundSlug:
      type: string
      enum:
      - EUTBL
      - USTBL
      - SPKCC
      - UKTBL
      - SAFO
