openapi: 3.1.0
info:
  title: Spiko Distributor Account transactions Share Classes API
  version: v0
  description: The Distributor API allows third parties like SaaS providers, fintechs or Web3 companies to distribute the Spiko Funds to their customers. With this API, you can programmatically manage investors, send subscription and redemption orders, and access real-time portfolio information.
servers:
- url: https://distributor-api.spiko.io
  description: Production Server
- url: https://distributor-api.preprod.spiko.io
  description: Pre-production Server
security: []
tags:
- name: Share Classes
paths:
  /share-classes/:
    get:
      tags:
      - Share Classes
      operationId: Get all Share Classes
      parameters: []
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    required:
                    - id
                    - fundId
                    - isin
                    - navDecimals
                    - shareDecimals
                    - currency
                    - tokens
                    - useOfIncome
                    - minimumInitialSubscription
                    - minimumSubsequentSubscription
                    - minimumRedemption
                    - subscriptionFees
                    - redemptionFees
                    - managementFees
                    - intermediaryShareClasses
                    - data
                    - symbol
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      isin:
                        title: Isin
                        type: string
                        description: A valid ISIN
                      navDecimals:
                        type: integer
                        description: a number between 0 and 20
                        title: between(0, 20)
                        minimum: 0
                        maximum: 20
                      shareDecimals:
                        type: integer
                        description: a number between 0 and 20
                        title: between(0, 20)
                        minimum: 0
                        maximum: 20
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      tokens:
                        type: array
                        items:
                          anyOf:
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                $ref: '#/components/schemas/EVMNetwork'
                              address:
                                type: string
                                title: Ethereum address
                                description: a valid Ethereum address, starting with 0x and followed by 40 hexadecimal characters e.g. "0xb794f5ea0ba39494ce839613fffba74279579268"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Starknet
                                - StarknetSepolia
                              address:
                                title: StarknetAddress
                                type: string
                                description: a valid Starknet address, starting with 0x and followed by 64 hexadecimal characters e.g. "0x0000000000000000000000000000000000000000000000000000000000000000"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Stellar
                                - StellarTestnet
                              address:
                                anyOf:
                                - title: StellarAccountAddress
                                  type: string
                                  description: a valid Stellar account address, starting with G and followed by 55 hexadecimal characters e.g. "GBYIQXBKEB655EB3WTRITS6RR5GXEP6SQRBLPREZHNFYKT7WBMTMPR3H"
                                - title: StellarContractAddress
                                  type: string
                                  description: a valid Stellar contract address, starting with C and followed by 55 hexadecimal characters e.g. "CCAANR7HZNOXYZD7SXS2WQLV5BAOXSRZ7V4O43IANSB355QN2RNG7WVC"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Solana
                                - SolanaDevnet
                              address:
                                type: string
                                title: Solana address
                                description: a valid Solana address, consisting of 32 to 44 base58 characters
                            additionalProperties: false
                      useOfIncome:
                        type: string
                        enum:
                        - accumulating
                        - distributing
                      minimumInitialSubscription:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      minimumSubsequentSubscription:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      minimumRedemption:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      subscriptionFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      redemptionFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      managementFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      intermediaryShareClasses:
                        type: array
                        items:
                          type: array
                          minItems: 2
                          prefixItems:
                          - type: string
                            enum:
                            - EUR
                            - USD
                            - GBP
                            - CHF
                            - JPY
                            - SGD
                            title: Currency code
                            identifier: CurrencyCode
                            description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                          - type: string
                            description: a Universally Unique Identifier
                            format: uuid
                          items: false
                      data:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          es:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          fr:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          it:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          de:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                        additionalProperties: false
                      symbol:
                        $ref: '#/components/schemas/ShareClassSymbol'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - fundId
                    - isin
                    - navDecimals
                    - shareDecimals
                    - currency
                    - tokens
                    - useOfIncome
                    - minimumInitialSubscription
                    - minimumSubsequentSubscription
                    - minimumRedemption
                    - subscriptionFees
                    - redemptionFees
                    - managementFees
                    - intermediaryShareClasses
                    - data
                    - symbol
                    - bankAccountNumber
                    - bankAccountBic
                    - bankAccountIntermediaryBic
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      isin:
                        title: Isin
                        type: string
                        description: A valid ISIN
                      navDecimals:
                        type: integer
                        description: a number between 0 and 20
                        title: between(0, 20)
                        minimum: 0
                        maximum: 20
                      shareDecimals:
                        type: integer
                        description: a number between 0 and 20
                        title: between(0, 20)
                        minimum: 0
                        maximum: 20
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      tokens:
                        type: array
                        items:
                          anyOf:
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                $ref: '#/components/schemas/EVMNetwork'
                              address:
                                type: string
                                title: Ethereum address
                                description: a valid Ethereum address, starting with 0x and followed by 40 hexadecimal characters e.g. "0xb794f5ea0ba39494ce839613fffba74279579268"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Starknet
                                - StarknetSepolia
                              address:
                                title: StarknetAddress
                                type: string
                                description: a valid Starknet address, starting with 0x and followed by 64 hexadecimal characters e.g. "0x0000000000000000000000000000000000000000000000000000000000000000"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Stellar
                                - StellarTestnet
                              address:
                                anyOf:
                                - title: StellarAccountAddress
                                  type: string
                                  description: a valid Stellar account address, starting with G and followed by 55 hexadecimal characters e.g. "GBYIQXBKEB655EB3WTRITS6RR5GXEP6SQRBLPREZHNFYKT7WBMTMPR3H"
                                - title: StellarContractAddress
                                  type: string
                                  description: a valid Stellar contract address, starting with C and followed by 55 hexadecimal characters e.g. "CCAANR7HZNOXYZD7SXS2WQLV5BAOXSRZ7V4O43IANSB355QN2RNG7WVC"
                            additionalProperties: false
                          - type: object
                            required:
                            - network
                            - address
                            properties:
                              network:
                                type: string
                                enum:
                                - Solana
                                - SolanaDevnet
                              address:
                                type: string
                                title: Solana address
                                description: a valid Solana address, consisting of 32 to 44 base58 characters
                            additionalProperties: false
                      useOfIncome:
                        type: string
                        enum:
                        - accumulating
                        - distributing
                      minimumInitialSubscription:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      minimumSubsequentSubscription:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      minimumRedemption:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      subscriptionFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      redemptionFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      managementFees:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      intermediaryShareClasses:
                        type: array
                        items:
                          type: array
                          minItems: 2
                          prefixItems:
                          - type: string
                            enum:
                            - EUR
                            - USD
                            - GBP
                            - CHF
                            - JPY
                            - SGD
                            title: Currency code
                            identifier: CurrencyCode
                            description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                          - type: string
                            description: a Universally Unique Identifier
                            format: uuid
                          items: false
                      data:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          es:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          fr:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          it:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                          de:
                            type: object
                            required:
                            - name
                            - amfClassification
                            - referenceIndex
                            properties:
                              name:
                                $ref: '#/components/schemas/NonEmptyString'
                              amfClassification:
                                $ref: '#/components/schemas/NonEmptyString'
                              referenceIndex:
                                $ref: '#/components/schemas/NonEmptyString'
                            additionalProperties: false
                        additionalProperties: false
                      symbol:
                        $ref: '#/components/schemas/ShareClassSymbol'
                      bankAccountNumber:
                        title: IBAN
                        type: string
                        description: a valid IBAN (International Bank Account Number)
                      bankAccountBic:
                        title: BIC
                        type: string
                        description: A valid BIC (Bank Identifier Code)
                      bankAccountIntermediaryBic:
                        anyOf:
                        - title: BIC
                          type: string
                          description: A valid BIC (Bank Identifier Code)
                        - type: 'null'
                    additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
  /share-classes/{shareClassSymbol}:
    get:
      tags:
      - Share Classes
      operationId: Get Share Class
      parameters:
      - name: shareClassSymbol
        in: path
        schema:
          $ref: '#/components/schemas/ShareClassSymbol'
        required: true
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                anyOf:
                - type: object
                  required:
                  - id
                  - fundId
                  - isin
                  - navDecimals
                  - shareDecimals
                  - currency
                  - tokens
                  - useOfIncome
                  - minimumInitialSubscription
                  - minimumSubsequentSubscription
                  - minimumRedemption
                  - subscriptionFees
                  - redemptionFees
                  - managementFees
                  - intermediaryShareClasses
                  - data
                  - symbol
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    fundId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    isin:
                      title: Isin
                      type: string
                      description: A valid ISIN
                    navDecimals:
                      type: integer
                      description: a number between 0 and 20
                      title: between(0, 20)
                      minimum: 0
                      maximum: 20
                    shareDecimals:
                      type: integer
                      description: a number between 0 and 20
                      title: between(0, 20)
                      minimum: 0
                      maximum: 20
                    currency:
                      type: string
                      enum:
                      - EUR
                      - USD
                      - GBP
                      - CHF
                      - JPY
                      - SGD
                      title: Currency code
                      identifier: CurrencyCode
                      description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                    tokens:
                      type: array
                      items:
                        anyOf:
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              $ref: '#/components/schemas/EVMNetwork'
                            address:
                              type: string
                              title: Ethereum address
                              description: a valid Ethereum address, starting with 0x and followed by 40 hexadecimal characters e.g. "0xb794f5ea0ba39494ce839613fffba74279579268"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Starknet
                              - StarknetSepolia
                            address:
                              title: StarknetAddress
                              type: string
                              description: a valid Starknet address, starting with 0x and followed by 64 hexadecimal characters e.g. "0x0000000000000000000000000000000000000000000000000000000000000000"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Stellar
                              - StellarTestnet
                            address:
                              anyOf:
                              - title: StellarAccountAddress
                                type: string
                                description: a valid Stellar account address, starting with G and followed by 55 hexadecimal characters e.g. "GBYIQXBKEB655EB3WTRITS6RR5GXEP6SQRBLPREZHNFYKT7WBMTMPR3H"
                              - title: StellarContractAddress
                                type: string
                                description: a valid Stellar contract address, starting with C and followed by 55 hexadecimal characters e.g. "CCAANR7HZNOXYZD7SXS2WQLV5BAOXSRZ7V4O43IANSB355QN2RNG7WVC"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Solana
                              - SolanaDevnet
                            address:
                              type: string
                              title: Solana address
                              description: a valid Solana address, consisting of 32 to 44 base58 characters
                          additionalProperties: false
                    useOfIncome:
                      type: string
                      enum:
                      - accumulating
                      - distributing
                    minimumInitialSubscription:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    minimumSubsequentSubscription:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    minimumRedemption:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    subscriptionFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    redemptionFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    managementFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    intermediaryShareClasses:
                      type: array
                      items:
                        type: array
                        minItems: 2
                        prefixItems:
                        - type: string
                          enum:
                          - EUR
                          - USD
                          - GBP
                          - CHF
                          - JPY
                          - SGD
                          title: Currency code
                          identifier: CurrencyCode
                          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                        - type: string
                          description: a Universally Unique Identifier
                          format: uuid
                        items: false
                    data:
                      type: object
                      required:
                      - en
                      - es
                      - fr
                      - it
                      - de
                      properties:
                        en:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        es:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        fr:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        it:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        de:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                      additionalProperties: false
                    symbol:
                      $ref: '#/components/schemas/ShareClassSymbol'
                  additionalProperties: false
                - type: object
                  required:
                  - id
                  - fundId
                  - isin
                  - navDecimals
                  - shareDecimals
                  - currency
                  - tokens
                  - useOfIncome
                  - minimumInitialSubscription
                  - minimumSubsequentSubscription
                  - minimumRedemption
                  - subscriptionFees
                  - redemptionFees
                  - managementFees
                  - intermediaryShareClasses
                  - data
                  - symbol
                  - bankAccountNumber
                  - bankAccountBic
                  - bankAccountIntermediaryBic
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    fundId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    isin:
                      title: Isin
                      type: string
                      description: A valid ISIN
                    navDecimals:
                      type: integer
                      description: a number between 0 and 20
                      title: between(0, 20)
                      minimum: 0
                      maximum: 20
                    shareDecimals:
                      type: integer
                      description: a number between 0 and 20
                      title: between(0, 20)
                      minimum: 0
                      maximum: 20
                    currency:
                      type: string
                      enum:
                      - EUR
                      - USD
                      - GBP
                      - CHF
                      - JPY
                      - SGD
                      title: Currency code
                      identifier: CurrencyCode
                      description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                    tokens:
                      type: array
                      items:
                        anyOf:
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              $ref: '#/components/schemas/EVMNetwork'
                            address:
                              type: string
                              title: Ethereum address
                              description: a valid Ethereum address, starting with 0x and followed by 40 hexadecimal characters e.g. "0xb794f5ea0ba39494ce839613fffba74279579268"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Starknet
                              - StarknetSepolia
                            address:
                              title: StarknetAddress
                              type: string
                              description: a valid Starknet address, starting with 0x and followed by 64 hexadecimal characters e.g. "0x0000000000000000000000000000000000000000000000000000000000000000"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Stellar
                              - StellarTestnet
                            address:
                              anyOf:
                              - title: StellarAccountAddress
                                type: string
                                description: a valid Stellar account address, starting with G and followed by 55 hexadecimal characters e.g. "GBYIQXBKEB655EB3WTRITS6RR5GXEP6SQRBLPREZHNFYKT7WBMTMPR3H"
                              - title: StellarContractAddress
                                type: string
                                description: a valid Stellar contract address, starting with C and followed by 55 hexadecimal characters e.g. "CCAANR7HZNOXYZD7SXS2WQLV5BAOXSRZ7V4O43IANSB355QN2RNG7WVC"
                          additionalProperties: false
                        - type: object
                          required:
                          - network
                          - address
                          properties:
                            network:
                              type: string
                              enum:
                              - Solana
                              - SolanaDevnet
                            address:
                              type: string
                              title: Solana address
                              description: a valid Solana address, consisting of 32 to 44 base58 characters
                          additionalProperties: false
                    useOfIncome:
                      type: string
                      enum:
                      - accumulating
                      - distributing
                    minimumInitialSubscription:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    minimumSubsequentSubscription:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    minimumRedemption:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    subscriptionFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    redemptionFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    managementFees:
                      type: string
                      title: non-negative decimal number as a string
                      description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    intermediaryShareClasses:
                      type: array
                      items:
                        type: array
                        minItems: 2
                        prefixItems:
                        - type: string
                          enum:
                          - EUR
                          - USD
                          - GBP
                          - CHF
                          - JPY
                          - SGD
                          title: Currency code
                          identifier: CurrencyCode
                          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                        - type: string
                          description: a Universally Unique Identifier
                          format: uuid
                        items: false
                    data:
                      type: object
                      required:
                      - en
                      - es
                      - fr
                      - it
                      - de
                      properties:
                        en:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        es:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        fr:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        it:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                        de:
                          type: object
                          required:
                          - name
                          - amfClassification
                          - referenceIndex
                          properties:
                            name:
                              $ref: '#/components/schemas/NonEmptyString'
                            amfClassification:
                              $ref: '#/components/schemas/NonEmptyString'
                            referenceIndex:
                              $ref: '#/components/schemas/NonEmptyString'
                          additionalProperties: false
                      additionalProperties: false
                    symbol:
                      $ref: '#/components/schemas/ShareClassSymbol'
                    bankAccountNumber:
                      title: IBAN
                      type: string
                      description: a valid IBAN (International Bank Account Number)
                    bankAccountBic:
                      title: BIC
                      type: string
                      description: A valid BIC (Bank Identifier Code)
                    bankAccountIntermediaryBic:
                      anyOf:
                      - title: BIC
                        type: string
                        description: A valid BIC (Bank Identifier Code)
                      - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
  /share-classes/{shareClassSymbol}/yield:
    get:
      tags:
      - Share Classes
      operationId: Get Share Class Yield
      parameters:
      - name: shareClassSymbol
        in: path
        schema:
          $ref: '#/components/schemas/ShareClassSymbol'
        required: true
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - shareClassId
                - dailyYield
                - weeklyYield
                - monthlyYield
                - updatedAt
                - nextYieldTimestamp
                - previousYieldTimestamp
                properties:
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  dailyYield:
                    $ref: '#/components/schemas/BigDecimal'
                  weeklyYield:
                    anyOf:
                    - $ref: '#/components/schemas/BigDecimal'
                    - type: 'null'
                  monthlyYield:
                    anyOf:
                    - $ref: '#/components/schemas/BigDecimal'
                    - type: 'null'
                  updatedAt:
                    $ref: '#/components/schemas/Date'
                  nextYieldTimestamp:
                    type: string
                    title: Timestamp
                    description: A timestamp in seconds since the Unix epoch (1970-01-01T00:00:00Z), e.g. "1753347047"
                  previousYieldTimestamp:
                    anyOf:
                    - type: object
                      required:
                      - _tag
                      properties:
                        _tag:
                          type: string
                          enum:
                          - None
                      additionalProperties: false
                      description: NoneEncoded
                    - type: object
                      required:
                      - _tag
                      - value
                      properties:
                        _tag:
                          type: string
                          enum:
                          - Some
                        value:
                          type: string
                          title: Timestamp
                          description: A timestamp in seconds since the Unix epoch (1970-01-01T00:00:00Z), e.g. "1753347047"
                      additionalProperties: false
                      description: SomeEncoded<nonNegativeBigInt & Brand<"Timestamp">>
                    description: OptionEncoded<nonNegativeBigInt & Brand<"Timestamp">>
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
  /share-classes/{shareClassSymbol}/totals:
    get:
      tags:
      - Share Classes
      operationId: Get Share Class Totals
      parameters:
      - name: shareClassSymbol
        in: path
        schema:
          $ref: '#/components/schemas/ShareClassSymbol'
        required: true
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - totalShares
                - totalAssets
                - numberOfHolders
                - netAssetValue
                - totalYield
                - totalOrders
                properties:
                  totalShares:
                    $ref: '#/components/schemas/BigDecimal'
                  totalAssets:
                    $ref: '#/components/schemas/NonNegativeAmount'
                  numberOfHolders:
                    type: number
                  netAssetValue:
                    type: object
                    required:
                    - id
                    - shareClassId
                    - day
                    - amount
                    - updatedAt
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      shareClassId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      day:
                        type: string
                        title: Day
                        description: a day in ISO format "YYYY-MM-DD"
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                      updatedAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                    additionalProperties: false
                  totalYield:
                    $ref: '#/components/schemas/Amount'
                  totalOrders:
                    $ref: '#/components/schemas/Amount'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
  /share-classes/{shareClassSymbol}/totals/from-day:
    get:
      tags:
      - Share Classes
      operationId: Get Share Class Totals From Day
      parameters:
      - name: shareClassSymbol
        in: path
        schema:
          $ref: '#/components/schemas/ShareClassSymbol'
        required: true
      - name: startDay
        in: query
        schema:
          type: string
          title: Day
          description: a day formatted as "yyyy-MM-dd"
        required: true
        description: a day formatted as "yyyy-MM-dd"
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - totalShares
                  - totalAssets
                  - numberOfHolders
                  - netAssetValue
                  - totalYield
                  - totalOrders
                  properties:
                    totalShares:
                      $ref: '#/components/schemas/BigDecimal'
                    totalAssets:
                      $ref: '#/components/schemas/NonNegativeAmount'
                    numberOfHolders:
                      type: number
                    netAssetValue:
                      type: object
                      required:
                      - id
                      - shareClassId
                      - day
                      - amount
                      - updatedAt
                      properties:
                        id:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                        shareClassId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                        day:
                          type: string
                          title: Day
                          description: a day in ISO format "YYYY-MM-DD"
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                        updatedAt:
                          type: string
                          title: valid range date
                          description: A valid date within the range 2020-2100
                      additionalProperties: false
                    totalYield:
                      $ref: '#/components/schemas/Amount'
                    totalOrders:
                      $ref: '#/components/schemas/Amount'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
components:
  schemas:
    Amount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          title: decimal number as a string
          description: a string representation of a decimal number e.g. "10000", "0.00" or "-7432092.04"
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - CHF
          - JPY
          - SGD
          title: Currency code
          identifier: CurrencyCode
          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
      additionalProperties: false
    EVMNetwork:
      type: string
      enum:
      - Sepolia
      - PolygonAmoy
      - BaseSepolia
      - ArbitrumSepolia
      - EtherlinkTestnet
      - Ethereum
      - Polygon
      - Base
      - Arbitrum
      - Etherlink
      description: an EVM blockchain network e.g. "Ethereum", "Polygon", "Arbitrum"
      title: EVM Network
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    NonEmptyString:
      type: string
      description: a non empty string
      title: nonEmptyString
      minLength: 1
    NonNegativeAmount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          title: non-negative decimal number as a string
          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - CHF
          - JPY
          - SGD
          title: Currency code
          identifier: CurrencyCode
          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
      additionalProperties: false
      title: Non-Negative Amount
    BigDecimal:
      type: string
      description: a string to be decoded into a BigDecimal
    Date:
      type: string
      description: a string to be decoded into a Date
    ShareClassSymbol:
      type: string
      enum:
      - EUTBL
      - USTBL
      - eurUSTBL
      - SPKCC
      - eurSPKCC
      - UKTBL
      - eurUKTBL
      - SAFO
      - SAFOd
      - eurSAFO
      - eurSAFOd
      - gbpSAFO
      - chfSAFO
      title: ShareClassSymbol
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your API client_id as username and client_secret as password.
