openapi: 3.1.0
info:
  title: Spiko Distributor Account transactions Withdrawal orders API
  version: v0
  description: The Distributor API allows third parties like SaaS providers, fintechs or Web3 companies to distribute the Spiko Funds to their customers. With this API, you can programmatically manage investors, send subscription and redemption orders, and access real-time portfolio information.
servers:
- url: https://distributor-api.spiko.io
  description: Production Server
- url: https://distributor-api.preprod.spiko.io
  description: Pre-production Server
security: []
tags:
- name: Withdrawal orders
paths:
  /v0/withdrawal-orders/:
    post:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.createWithdrawalOrder
      parameters: []
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                - settlement
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  settlement:
                    anyOf:
                    - type: object
                      required:
                      - amount
                      - shares
                      - appliedNAV
                      properties:
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                        appliedNAV:
                          type: object
                          required:
                          - day
                          - amount
                          properties:
                            day:
                              type: string
                              title: Day
                              description: a day in ISO format "YYYY-MM-DD"
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                          additionalProperties: false
                      additionalProperties: false
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/ApplicationError'
                - $ref: '#/components/schemas/InsufficientBalanceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
        '409':
          description: Investor token has already been used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateInvestorTokenError'
        '422':
          description: Investor is not ready for order creation yet
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvestorNotReadyError'
      description: "\n**Create a new withdrawal order for an investor with the specified parameters.**\n\n- The `quantity` field supports three modes:\n  - `{\"mode\":\"amount\",\"amount\":{\"value\":\"1000\",\"currency\":\"USD\"}}` - withdraw a specific fiat amount\n  - `{\"mode\":\"shares\",\"shares\":\"10.5\"}` - withdraw a specific number of shares\n  - `{\"mode\":\"total\"}` - withdraw all shares (full withdrawal)\n- If the order is expressed in shares or if it is total, the currency used will be the bank account currency.\n- Returns complete order details, including its UUID identifier.\n\n> **Distribute-with-Spiko's-license distributors** cannot place this order from their backend. The investor must place it directly from the browser with a short-lived [Investor JWT](/developers/distributor_api/technical_guides/investor_jwt), targeting the investor-scoped path **`POST /v0/investor/withdrawal-orders/`** (identical payload and response, but authenticated with the investor JWT as bearer token instead of your API credentials).\n"
      summary: Create withdrawal order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - investorId
              - shareClassId
              - bankAccountId
              - quantity
              properties:
                investorId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                accountId:
                  anyOf:
                  - type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  - type: 'null'
                shareClassId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                bankAccountId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                quantity:
                  anyOf:
                  - type: object
                    required:
                    - mode
                    - amount
                    properties:
                      mode:
                        type: string
                        enum:
                        - amount
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                    additionalProperties: false
                  - type: object
                    required:
                    - mode
                    - shares
                    properties:
                      mode:
                        type: string
                        enum:
                        - shares
                      shares:
                        $ref: '#/components/schemas/BigDecimal'
                    additionalProperties: false
                  - type: object
                    required:
                    - mode
                    properties:
                      mode:
                        type: string
                        enum:
                        - total
                    additionalProperties: false
              additionalProperties: false
        required: true
    get:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.getWithdrawalOrders
      parameters:
      - name: investorId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      - name: shareClassId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: false
        description: a Universally Unique Identifier
      - name: page
        in: query
        schema:
          type: string
          title: Page number
          description: 'defaults to "1" if not provided '
        required: false
        description: 'defaults to "1" if not provided '
      - name: limit
        in: query
        schema:
          type: string
          title: Number of items per page
          description: defaults to "50" if not provided
        required: false
        description: defaults to "50" if not provided
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - destination
                  - quantity
                  - status
                  - createdAt
                  - executedAt
                  - canceledAt
                  - settlement
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    destination:
                      anyOf:
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - instant-bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - walletId
                        properties:
                          type:
                            type: string
                            enum:
                            - stablecoin-transfer
                          walletId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                    quantity:
                      anyOf:
                      - type: object
                        required:
                        - mode
                        - amount
                        properties:
                          mode:
                            type: string
                            enum:
                            - amount
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        - shares
                        properties:
                          mode:
                            type: string
                            enum:
                            - shares
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        properties:
                          mode:
                            type: string
                            enum:
                            - total
                        additionalProperties: false
                    status:
                      type: string
                      enum:
                      - pending
                      - executed
                      - canceled
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    executedAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    canceledAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
      description: "\n**Retrieve a paginated list of the withdrawal orders made by an investor.**\n\n> ⚠️ **For displaying an account's activity, prefer the [account transaction history endpoint](#tag/Account-transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don't need to call multiple per-order-type endpoints and reconcile their results.\n\n- Orders are sorted by creation date (newest first).\n- When `shareClassId` is specified, only withdrawal orders for that share class are returned.\n- Pagination parameters (`page` & `limit`) are optional and default to `page = 1` and `limit = 50`.\n          "
      summary: Get withdrawal orders
  /v0/withdrawal-orders/{id}:
    get:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.getWithdrawalOrder
      parameters:
      - name: id
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                - settlement
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  settlement:
                    anyOf:
                    - type: object
                      required:
                      - amount
                      - shares
                      - appliedNAV
                      properties:
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                        appliedNAV:
                          type: object
                          required:
                          - day
                          - amount
                          properties:
                            day:
                              type: string
                              title: Day
                              description: a day in ISO format "YYYY-MM-DD"
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                          additionalProperties: false
                      additionalProperties: false
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
      description: '

        **Retrieve information about a specific withdrawal order.**


        - Includes order status (`pending` / `executed` / `canceled`).

        '
      summary: Get withdrawal order
  /v0/withdrawal-orders/all/:
    get:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.getAllDistributorWithdrawalOrders
      parameters:
      - name: page
        in: query
        schema:
          type: string
          title: Page number
          description: 'defaults to "1" if not provided '
        required: false
        description: 'defaults to "1" if not provided '
      - name: limit
        in: query
        schema:
          type: string
          title: Number of items per page
          description: defaults to "50" if not provided
        required: false
        description: defaults to "50" if not provided
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - destination
                  - quantity
                  - status
                  - createdAt
                  - executedAt
                  - canceledAt
                  - settlement
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    destination:
                      anyOf:
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - instant-bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - walletId
                        properties:
                          type:
                            type: string
                            enum:
                            - stablecoin-transfer
                          walletId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                    quantity:
                      anyOf:
                      - type: object
                        required:
                        - mode
                        - amount
                        properties:
                          mode:
                            type: string
                            enum:
                            - amount
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        - shares
                        properties:
                          mode:
                            type: string
                            enum:
                            - shares
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        properties:
                          mode:
                            type: string
                            enum:
                            - total
                        additionalProperties: false
                    status:
                      type: string
                      enum:
                      - pending
                      - executed
                      - canceled
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    executedAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    canceledAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    settlement:
                      anyOf:
                      - type: object
                        required:
                        - amount
                        - shares
                        - appliedNAV
                        properties:
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                          shares:
                            $ref: '#/components/schemas/BigDecimal'
                          appliedNAV:
                            type: object
                            required:
                            - day
                            - amount
                            properties:
                              day:
                                type: string
                                title: Day
                                description: a day in ISO format "YYYY-MM-DD"
                              amount:
                                $ref: '#/components/schemas/NonNegativeAmount'
                            additionalProperties: false
                        additionalProperties: false
                      - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
      description: "\n**Retrieve a paginated list of all withdrawal orders made by a distributor.**\n\n> ⚠️ **For displaying an account's activity, prefer the [account transaction history endpoint](#tag/Account-transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don't need to call multiple per-order-type endpoints and reconcile their results.\n\n- Orders are sorted by creation date (newest first).\n- Pagination parameters (`page` & `limit`) are optional and default to `page = 1` and `limit = 50`.\n          "
      summary: Get all distributor withdrawal orders
  /v0/withdrawal-orders/{id}/cancel:
    put:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.cancelWithdrawalOrder
      parameters:
      - name: id
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                - settlement
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  settlement:
                    anyOf:
                    - type: object
                      required:
                      - amount
                      - shares
                      - appliedNAV
                      properties:
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                        shares:
                          $ref: '#/components/schemas/BigDecimal'
                        appliedNAV:
                          type: object
                          required:
                          - day
                          - amount
                          properties:
                            day:
                              type: string
                              title: Day
                              description: a day in ISO format "YYYY-MM-DD"
                            amount:
                              $ref: '#/components/schemas/NonNegativeAmount'
                          additionalProperties: false
                      additionalProperties: false
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/BadRequestError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/DistributorAuthenticationError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForbiddenError'
        '404':
          description: NotFound
        '500':
          description: InternalServerError
      description: '**Cancel a withdrawal order.** Order must be in `pending` status.'
      summary: Cancel withdrawal order
  /withdrawal-orders/:
    post:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.createWithdrawalOrder
      parameters: []
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          type: string
                          title: non-negative decimal number as a string
                          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/BadRequest'
                - $ref: '#/components/schemas/InsufficientBalanceError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceUnavailableError'
      description: "\nCreate a new withdrawal order for an investor and return the order info.\n\n- The `quantity` field supports three modes:\n  - `{\"mode\":\"amount\",\"amount\":{\"value\":\"1000\",\"currency\":\"EUR\"}}` - withdraw a specific fiat amount\n  - `{\"mode\":\"shares\",\"shares\":\"10.5\"}` - withdraw a specific number of shares\n  - `{\"mode\":\"total\"}` - withdraw all shares (full withdrawal)\n"
      summary: Create a new withdrawal order
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - accountId
              - shareClassId
              - destination
              - quantity
              properties:
                accountId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                shareClassId:
                  type: string
                  description: a Universally Unique Identifier
                  format: uuid
                destination:
                  anyOf:
                  - type: object
                    required:
                    - type
                    - bankAccountId
                    properties:
                      type:
                        type: string
                        enum:
                        - bank-transfer
                      bankAccountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                    additionalProperties: false
                  - type: object
                    required:
                    - type
                    - bankAccountId
                    properties:
                      type:
                        type: string
                        enum:
                        - instant-bank-transfer
                      bankAccountId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                    additionalProperties: false
                  - type: object
                    required:
                    - type
                    - walletId
                    properties:
                      type:
                        type: string
                        enum:
                        - stablecoin-transfer
                      walletId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                    additionalProperties: false
                quantity:
                  anyOf:
                  - type: object
                    required:
                    - mode
                    - amount
                    properties:
                      mode:
                        type: string
                        enum:
                        - amount
                      amount:
                        $ref: '#/components/schemas/NonNegativeAmount'
                    additionalProperties: false
                  - type: object
                    required:
                    - mode
                    - shares
                    properties:
                      mode:
                        type: string
                        enum:
                        - shares
                      shares:
                        type: string
                        title: non-negative decimal number as a string
                        description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                    additionalProperties: false
                  - type: object
                    required:
                    - mode
                    properties:
                      mode:
                        type: string
                        enum:
                        - total
                    additionalProperties: false
              additionalProperties: false
        required: true
    get:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.getWithdrawalOrders
      parameters:
      - name: investorId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - executed
          - canceled
        required: false
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - investorId
                  - accountId
                  - shareClassId
                  - destination
                  - quantity
                  - status
                  - createdAt
                  - executedAt
                  - canceledAt
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    investorId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    accountId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    shareClassId:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    destination:
                      anyOf:
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - bankAccountId
                        properties:
                          type:
                            type: string
                            enum:
                            - instant-bank-transfer
                          bankAccountId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                      - type: object
                        required:
                        - type
                        - walletId
                        properties:
                          type:
                            type: string
                            enum:
                            - stablecoin-transfer
                          walletId:
                            type: string
                            description: a Universally Unique Identifier
                            format: uuid
                        additionalProperties: false
                    quantity:
                      anyOf:
                      - type: object
                        required:
                        - mode
                        - amount
                        properties:
                          mode:
                            type: string
                            enum:
                            - amount
                          amount:
                            $ref: '#/components/schemas/NonNegativeAmount'
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        - shares
                        properties:
                          mode:
                            type: string
                            enum:
                            - shares
                          shares:
                            type: string
                            title: non-negative decimal number as a string
                            description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                        additionalProperties: false
                      - type: object
                        required:
                        - mode
                        properties:
                          mode:
                            type: string
                            enum:
                            - total
                        additionalProperties: false
                    status:
                      type: string
                      enum:
                      - pending
                      - executed
                      - canceled
                    createdAt:
                      $ref: '#/components/schemas/Date'
                    executedAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                    canceledAt:
                      anyOf:
                      - $ref: '#/components/schemas/Date'
                      - type: 'null'
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
      description: '

        Get all withdrawal orders for a given investor with optional status filter.


        > ⚠️ **For displaying an account''s activity, prefer the [account transaction history endpoint](#tag/Account-Transactions/operation/accountTransactions.getAccountTransactions).** It returns deposits, withdrawals, transfers and yield accruals as a single time-ordered stream, with cursor pagination, so you don''t need to call multiple per-order-type endpoints and reconcile their results.

        '
      summary: Get list of an investor's withdrawal orders
  /withdrawal-orders/{withdrawalOrderId}/cancel:
    post:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.cancelWithdrawalOrder
      parameters:
      - name: withdrawalOrderId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          type: string
                          title: non-negative decimal number as a string
                          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/HttpApiDecodeError'
                - $ref: '#/components/schemas/BadRequest'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
      description: Cancel a pending withdrawal order. Only orders in pending status can be canceled.
      summary: Cancel a withdrawal order
  /withdrawal-orders/{withdrawalOrderId}:
    get:
      tags:
      - Withdrawal orders
      operationId: withdrawalOrders.getWithdrawalOrder
      parameters:
      - name: withdrawalOrderId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security:
      - basicAuth: []
      - oauth2: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - investorId
                - accountId
                - shareClassId
                - destination
                - quantity
                - status
                - createdAt
                - executedAt
                - canceledAt
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  investorId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  accountId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  shareClassId:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  destination:
                    anyOf:
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - bankAccountId
                      properties:
                        type:
                          type: string
                          enum:
                          - instant-bank-transfer
                        bankAccountId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                    - type: object
                      required:
                      - type
                      - walletId
                      properties:
                        type:
                          type: string
                          enum:
                          - stablecoin-transfer
                        walletId:
                          type: string
                          description: a Universally Unique Identifier
                          format: uuid
                      additionalProperties: false
                  quantity:
                    anyOf:
                    - type: object
                      required:
                      - mode
                      - amount
                      properties:
                        mode:
                          type: string
                          enum:
                          - amount
                        amount:
                          $ref: '#/components/schemas/NonNegativeAmount'
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      - shares
                      properties:
                        mode:
                          type: string
                          enum:
                          - shares
                        shares:
                          type: string
                          title: non-negative decimal number as a string
                          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
                      additionalProperties: false
                    - type: object
                      required:
                      - mode
                      properties:
                        mode:
                          type: string
                          enum:
                          - total
                      additionalProperties: false
                  status:
                    type: string
                    enum:
                    - pending
                    - executed
                    - canceled
                  createdAt:
                    $ref: '#/components/schemas/Date'
                  executedAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                  canceledAt:
                    anyOf:
                    - $ref: '#/components/schemas/Date'
                    - type: 'null'
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Unauthorized'
                - $ref: '#/components/schemas/InvestorAuthenticationError'
        '403':
          description: Forbidden
        '404':
          description: NotFound
      description: Get info of a specific withdrawal order by its ID
      summary: Get withdrawal order
components:
  schemas:
    BadRequestError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - BadRequestError
      additionalProperties: false
      description: Bad Request
    ForbiddenError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        customErrorCode:
          type: string
          enum:
          - AccountDoesNotBelongToInvestor
          - SessionIsNot2FA
          - InvestorDocumentLinkedToActiveBankAccount
          - AtLeastTwoAdminUsersRequired
          - InvestorNotPendingOnboarding
          - ShareClassNotAvailableForDistributor
        _tag:
          type: string
          enum:
          - ForbiddenError
      additionalProperties: false
      description: Forbidden
    InvestorAuthenticationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - InvestorAuthenticationError
      additionalProperties: false
      description: Authentication Error
    BadRequest:
      $id: /schemas/void
      title: BadRequest
    DuplicateInvestorTokenError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - DuplicateInvestorTokenError
      additionalProperties: false
      description: Investor token has already been used
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    ApplicationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        customErrorCode:
          type: string
          enum:
          - MissingNAV
          - NonBusinessDay
          - OrderInTheFuture
          - InitialDepositTooLow
          - InitialSubscriptionTooLow
          - SubsequentDepositTooLow
          - SubsequentSubscriptionTooLow
          - NewWalletSignatureNotProvided
          - NewWalletSignatureNotValid
          - CurrencyNotSupported
          - StablecoinNotSupported
          - AutopilotSynchronizedToBroken
          - IncomingBankTransferNotFound
          - IncomingBankTransferNotReceived
          - IncomingBankTransferAlreadyHandled
          - IncomingBankTransferAmountMismatch
        _tag:
          type: string
          enum:
          - ApplicationError
      additionalProperties: false
      description: Application Error
    Unauthorized:
      $id: /schemas/void
      title: Unauthorized
    ServiceUnavailableError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - ServiceUnavailableError
      additionalProperties: false
      description: Service Unavailable
    InsufficientBalanceError:
      type: object
      required:
      - payload
      - _tag
      properties:
        payload:
          anyOf:
          - type: object
            required:
            - type
            properties:
              type:
                type: string
                enum:
                - empty-account
            additionalProperties: false
          - type: object
            required:
            - type
            - requested
            - available
            properties:
              type:
                type: string
                enum:
                - shares
              requested:
                $ref: '#/components/schemas/BigDecimal'
              available:
                $ref: '#/components/schemas/BigDecimal'
            additionalProperties: false
          - type: object
            required:
            - type
            - requested
            - available
            properties:
              type:
                type: string
                enum:
                - amount
              requested:
                $ref: '#/components/schemas/NonNegativeAmount'
              available:
                $ref: '#/components/schemas/NonNegativeAmount'
            additionalProperties: false
        _tag:
          type: string
          enum:
          - InsufficientBalanceError
      additionalProperties: false
      description: Insufficient balance in account to process requested operation
    DistributorAuthenticationError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - DistributorAuthenticationError
      additionalProperties: false
      description: Authentication Error
    NonNegativeAmount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          title: non-negative decimal number as a string
          description: a string representation of a non-negative decimal number e.g. "10000", "0.00" or "3420.92"
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - CHF
          - JPY
          - SGD
          title: Currency code
          identifier: CurrencyCode
          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
      additionalProperties: false
      title: Non-Negative Amount
    BigDecimal:
      type: string
      description: a string to be decoded into a BigDecimal
    Date:
      type: string
      description: a string to be decoded into a Date
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
    InvestorNotReadyError:
      type: object
      required:
      - reason
      - _tag
      properties:
        reason:
          type: string
        _tag:
          type: string
          enum:
          - InvestorNotReadyError
      additionalProperties: false
      description: Investor is not ready for order creation yet
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your API client_id as username and client_secret as password.
