openapi: 3.1.0
info:
  title: Spiko Distributor Account transactions Fund Assets API
  version: v0
  description: The Distributor API allows third parties like SaaS providers, fintechs or Web3 companies to distribute the Spiko Funds to their customers. With this API, you can programmatically manage investors, send subscription and redemption orders, and access real-time portfolio information.
servers:
- url: https://distributor-api.spiko.io
  description: Production Server
- url: https://distributor-api.preprod.spiko.io
  description: Pre-production Server
security: []
tags:
- name: Fund Assets
paths:
  /fund-assets/:
    get:
      tags:
      - Fund Assets
      operationId: Get all Fund Assets
      parameters:
      - name: fundId
        in: query
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      - name: valuationDay
        in: query
        schema:
          type: string
          title: Day
          description: a day formatted as "yyyy-MM-dd"
        required: false
        description: a day formatted as "yyyy-MM-dd"
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: object
                    required:
                    - id
                    - fundId
                    - valuationDay
                    - assetLabel
                    - currency
                    - quantity
                    - totalMarketValue
                    - unitMarketValue
                    - totalAcquisitionCost
                    - unitAcquisitionCost
                    - totalGainOnAsset
                    - unitGainOnAsset
                    - percentageOfFundTotalNetAssets
                    - fundTotalNetAssetsMarketValue
                    - createdAt
                    - assetType
                    - isin
                    - issuerCountryCode
                    - nominalValue
                    - maturity
                    - maturityDate
                    - daysToMaturity
                    - yieldToMaturity
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      valuationDay:
                        $ref: '#/components/schemas/Date'
                      assetLabel:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: string
                          es:
                            type: string
                          fr:
                            type: string
                          it:
                            type: string
                          de:
                            type: string
                        additionalProperties: false
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      quantity:
                        $ref: '#/components/schemas/BigDecimal'
                      totalMarketValue:
                        $ref: '#/components/schemas/Amount'
                      unitMarketValue:
                        $ref: '#/components/schemas/Amount'
                      totalAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      unitAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      totalGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      unitGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      percentageOfFundTotalNetAssets:
                        $ref: '#/components/schemas/BigDecimal'
                      fundTotalNetAssetsMarketValue:
                        $ref: '#/components/schemas/Amount'
                      createdAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                      assetType:
                        type: string
                        enum:
                        - bond
                      isin:
                        title: Isin
                        type: string
                        description: A valid ISIN
                      issuerCountryCode:
                        identifier: CountryCodeAlpha3
                        title: Country code alpha-3
                        type: string
                        description: alpha-3 country code (ISO 3166-1)
                        documentation: ISO 3166-1 alpha-3 country code, 'FRA' for France, 'BEL' for Belgium, 'DEU' for Germany etc.
                      nominalValue:
                        $ref: '#/components/schemas/Amount'
                      maturity:
                        type: string
                        enum:
                        - short
                        - long
                      maturityDate:
                        $ref: '#/components/schemas/Date'
                      daysToMaturity:
                        type: number
                      yieldToMaturity:
                        $ref: '#/components/schemas/BigDecimal'
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - fundId
                    - valuationDay
                    - assetLabel
                    - currency
                    - quantity
                    - totalMarketValue
                    - unitMarketValue
                    - totalAcquisitionCost
                    - unitAcquisitionCost
                    - totalGainOnAsset
                    - unitGainOnAsset
                    - percentageOfFundTotalNetAssets
                    - fundTotalNetAssetsMarketValue
                    - createdAt
                    - assetType
                    - isin
                    - issuerCountryCode
                    - securityName
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      valuationDay:
                        $ref: '#/components/schemas/Date'
                      assetLabel:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: string
                          es:
                            type: string
                          fr:
                            type: string
                          it:
                            type: string
                          de:
                            type: string
                        additionalProperties: false
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      quantity:
                        $ref: '#/components/schemas/BigDecimal'
                      totalMarketValue:
                        $ref: '#/components/schemas/Amount'
                      unitMarketValue:
                        $ref: '#/components/schemas/Amount'
                      totalAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      unitAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      totalGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      unitGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      percentageOfFundTotalNetAssets:
                        $ref: '#/components/schemas/BigDecimal'
                      fundTotalNetAssetsMarketValue:
                        $ref: '#/components/schemas/Amount'
                      createdAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                      assetType:
                        type: string
                        enum:
                        - equity
                      isin:
                        title: Isin
                        type: string
                        description: A valid ISIN
                      issuerCountryCode:
                        identifier: CountryCodeAlpha3
                        title: Country code alpha-3
                        type: string
                        description: alpha-3 country code (ISO 3166-1)
                        documentation: ISO 3166-1 alpha-3 country code, 'FRA' for France, 'BEL' for Belgium, 'DEU' for Germany etc.
                      securityName:
                        type: string
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - fundId
                    - valuationDay
                    - assetLabel
                    - currency
                    - quantity
                    - totalMarketValue
                    - unitMarketValue
                    - totalAcquisitionCost
                    - unitAcquisitionCost
                    - totalGainOnAsset
                    - unitGainOnAsset
                    - percentageOfFundTotalNetAssets
                    - fundTotalNetAssetsMarketValue
                    - createdAt
                    - assetType
                    - code
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      valuationDay:
                        $ref: '#/components/schemas/Date'
                      assetLabel:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: string
                          es:
                            type: string
                          fr:
                            type: string
                          it:
                            type: string
                          de:
                            type: string
                        additionalProperties: false
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      quantity:
                        $ref: '#/components/schemas/BigDecimal'
                      totalMarketValue:
                        $ref: '#/components/schemas/Amount'
                      unitMarketValue:
                        $ref: '#/components/schemas/Amount'
                      totalAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      unitAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      totalGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      unitGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      percentageOfFundTotalNetAssets:
                        $ref: '#/components/schemas/BigDecimal'
                      fundTotalNetAssetsMarketValue:
                        $ref: '#/components/schemas/Amount'
                      createdAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                      assetType:
                        type: string
                        enum:
                        - cash
                      code:
                        type: string
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - fundId
                    - valuationDay
                    - assetLabel
                    - currency
                    - quantity
                    - totalMarketValue
                    - unitMarketValue
                    - totalAcquisitionCost
                    - unitAcquisitionCost
                    - totalGainOnAsset
                    - unitGainOnAsset
                    - percentageOfFundTotalNetAssets
                    - fundTotalNetAssetsMarketValue
                    - createdAt
                    - assetType
                    - code
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      valuationDay:
                        $ref: '#/components/schemas/Date'
                      assetLabel:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: string
                          es:
                            type: string
                          fr:
                            type: string
                          it:
                            type: string
                          de:
                            type: string
                        additionalProperties: false
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      quantity:
                        $ref: '#/components/schemas/BigDecimal'
                      totalMarketValue:
                        $ref: '#/components/schemas/Amount'
                      unitMarketValue:
                        $ref: '#/components/schemas/Amount'
                      totalAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      unitAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      totalGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      unitGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      percentageOfFundTotalNetAssets:
                        $ref: '#/components/schemas/BigDecimal'
                      fundTotalNetAssetsMarketValue:
                        $ref: '#/components/schemas/Amount'
                      createdAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                      assetType:
                        type: string
                        enum:
                        - reverse_repo
                      code:
                        type: string
                    additionalProperties: false
                  - type: object
                    required:
                    - id
                    - fundId
                    - valuationDay
                    - assetLabel
                    - currency
                    - quantity
                    - totalMarketValue
                    - unitMarketValue
                    - totalAcquisitionCost
                    - unitAcquisitionCost
                    - totalGainOnAsset
                    - unitGainOnAsset
                    - percentageOfFundTotalNetAssets
                    - fundTotalNetAssetsMarketValue
                    - createdAt
                    - assetType
                    - code
                    properties:
                      id:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      fundId:
                        type: string
                        description: a Universally Unique Identifier
                        format: uuid
                      valuationDay:
                        $ref: '#/components/schemas/Date'
                      assetLabel:
                        type: object
                        required:
                        - en
                        - es
                        - fr
                        - it
                        - de
                        properties:
                          en:
                            type: string
                          es:
                            type: string
                          fr:
                            type: string
                          it:
                            type: string
                          de:
                            type: string
                        additionalProperties: false
                      currency:
                        type: string
                        enum:
                        - EUR
                        - USD
                        - GBP
                        - CHF
                        - JPY
                        - SGD
                        title: Currency code
                        identifier: CurrencyCode
                        description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
                      quantity:
                        $ref: '#/components/schemas/BigDecimal'
                      totalMarketValue:
                        $ref: '#/components/schemas/Amount'
                      unitMarketValue:
                        $ref: '#/components/schemas/Amount'
                      totalAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      unitAcquisitionCost:
                        $ref: '#/components/schemas/Amount'
                      totalGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      unitGainOnAsset:
                        $ref: '#/components/schemas/Amount'
                      percentageOfFundTotalNetAssets:
                        $ref: '#/components/schemas/BigDecimal'
                      fundTotalNetAssetsMarketValue:
                        $ref: '#/components/schemas/Amount'
                      createdAt:
                        type: string
                        title: valid range date
                        description: A valid date within the range 2020-2100
                      assetType:
                        type: string
                        enum:
                        - swap
                      code:
                        type: string
                    additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
components:
  schemas:
    Amount:
      type: object
      required:
      - value
      - currency
      properties:
        value:
          type: string
          title: decimal number as a string
          description: a string representation of a decimal number e.g. "10000", "0.00" or "-7432092.04"
        currency:
          type: string
          enum:
          - EUR
          - USD
          - GBP
          - CHF
          - JPY
          - SGD
          title: Currency code
          identifier: CurrencyCode
          description: a currency code among "EUR", "USD", "GBP", "CHF", "JPY", "SGD"
      additionalProperties: false
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    BigDecimal:
      type: string
      description: a string to be decoded into a BigDecimal
    Date:
      type: string
      description: a string to be decoded into a Date
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your API client_id as username and client_secret as password.
