openapi: 3.1.0
info:
  title: Spiko Distributor Account transactions Funds API
  version: v0
  description: The Distributor API allows third parties like SaaS providers, fintechs or Web3 companies to distribute the Spiko Funds to their customers. With this API, you can programmatically manage investors, send subscription and redemption orders, and access real-time portfolio information.
servers:
- url: https://distributor-api.spiko.io
  description: Production Server
- url: https://distributor-api.preprod.spiko.io
  description: Pre-production Server
security: []
tags:
- name: Funds
paths:
  /funds/{fundId}:
    get:
      tags:
      - Funds
      operationId: Get Fund
      parameters:
      - name: fundId
        in: path
        schema:
          type: string
          description: a Universally Unique Identifier
          format: uuid
        required: true
        description: a Universally Unique Identifier
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - slug
                - timezone
                - executionMethod
                - nonOperatingDays
                - launchDay
                properties:
                  id:
                    type: string
                    description: a Universally Unique Identifier
                    format: uuid
                  slug:
                    $ref: '#/components/schemas/FundSlug'
                  timezone:
                    type: string
                    enum:
                    - Europe/Paris
                    - Europe/Dublin
                    - Europe/London
                    - Europe/Luxembourg
                  executionMethod:
                    type: string
                    enum:
                    - knownNAVs
                    - unknownNAVs
                  nonOperatingDays:
                    type: array
                    items:
                      type: string
                      title: Day
                      description: a day in ISO format "YYYY-MM-DD"
                  launchDay:
                    type: string
                    title: Day
                    description: a day in ISO format "YYYY-MM-DD"
                additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
        '404':
          description: NotFound
  /funds/:
    get:
      tags:
      - Funds
      operationId: Get all Funds
      parameters: []
      security: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - id
                  - slug
                  - timezone
                  - executionMethod
                  - nonOperatingDays
                  - launchDay
                  properties:
                    id:
                      type: string
                      description: a Universally Unique Identifier
                      format: uuid
                    slug:
                      $ref: '#/components/schemas/FundSlug'
                    timezone:
                      type: string
                      enum:
                      - Europe/Paris
                      - Europe/Dublin
                      - Europe/London
                      - Europe/Luxembourg
                    executionMethod:
                      type: string
                      enum:
                      - knownNAVs
                      - unknownNAVs
                    nonOperatingDays:
                      type: array
                      items:
                        type: string
                        title: Day
                        description: a day in ISO format "YYYY-MM-DD"
                    launchDay:
                      type: string
                      title: Day
                      description: a day in ISO format "YYYY-MM-DD"
                  additionalProperties: false
        '400':
          description: The request did not match the expected schema
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpApiDecodeError'
components:
  schemas:
    HttpApiDecodeError:
      type: object
      required:
      - issues
      - message
      - _tag
      properties:
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        message:
          type: string
        _tag:
          type: string
          enum:
          - HttpApiDecodeError
      additionalProperties: false
      description: The request did not match the expected schema
    Issue:
      type: object
      required:
      - _tag
      - path
      - message
      properties:
        _tag:
          type: string
          enum:
          - Pointer
          - Unexpected
          - Missing
          - Composite
          - Refinement
          - Transformation
          - Type
          - Forbidden
          description: The tag identifying the type of parse issue
        path:
          type: array
          items:
            $ref: '#/components/schemas/PropertyKey'
          description: The path to the property where the issue occurred
        message:
          type: string
          description: A descriptive message explaining the issue
      additionalProperties: false
      description: Represents an error encountered while parsing a value to match the schema
    FundSlug:
      type: string
      enum:
      - EUTBL
      - USTBL
      - SPKCC
      - UKTBL
      - SAFO
    PropertyKey:
      anyOf:
      - type: string
      - type: number
      - type: object
        required:
        - _tag
        - key
        properties:
          _tag:
            type: string
            enum:
            - symbol
          key:
            type: string
        additionalProperties: false
        description: an object to be decoded into a globally shared symbol
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Use your API client_id as username and client_secret as password.
